
%layout-container {
	display:grid;
	grid-template-columns: 0.5fr repeat( $grid-columns - 2, 1fr ) 0.5fr;
	grid-gap: 0.25rem;
}



%full-width-column {
	grid-column: 2 / span 10;
}


body {
	@extend %layout-container;

	grid-template-areas:
	"header header header header header header header header header header header header"
	"content content content content content content content content content content content content"
	"footer footer footer footer footer footer footer footer footer footer footer footer"
}



.site-header,
.site-footer {

	@extend %layout-container;

}





.site-header {

	grid-gap:1em 1vw;

	grid-area: header;

	.site-branding {
		@extend %full-width-column;
	}


/*
	.site-branding,
	.main-navigation {
		grid-column: 1 / span ($grid-columns - 2);
	}

	*/
}

.site-content {

	grid-area: content;
	max-width: 100%; // otherwise it expands beyond it's grid area in FF.

	article {
		
		@extend %layout-container;

		.entry-header,
		.entry-content,
		.entry-footer {
			@extend %full-width-column;
			overflow:hidden;
			max-width: $text__line-length;
		}


		.entry-content {
			& > blockquote,
			& > code {
				overflow:scroll;
				max-width: 100%;
			}

			.fullwidth-embed {


				// Weird hack: WP outputs a <p> around the <script> tag for
				// Twitter oEmbeds. This makes it so it doesn't have any
				// effect on the page layout.
				position:relative;
				& > p {
					margin:0;
					position:absolute;
					bottom:0;
				}
			}
		}
	}
	
	
	.site-main article {
		

		.entry-content {

			

			


		}

	}
}

.site-footer {
	grid-area:footer;

	.site-info {
		@extend %full-width-column;
	}
}

@include large-handheld {


	%layout-container {
		//isplay:grid;
		grid-template-columns: repeat( $grid-columns, 1fr );
		//grid-gap: 0.25rem;
	}




	.site-header {

		.site-branding {
			grid-column:2 / span 4;
		}


		.main-navigation {
			grid-column: 6 / span 6;
			justify-self:end;
			
			.menu-main-nav-container {
				height:100%;
			}

			
		}

	}

}


@include desktop {

	%full-width-column {
		grid-column: 3 / span 8;
	}

	.site-header {
		.site-branding {
			grid-column:3 / span 3;
		}

		.main-navigation {
			grid-column: 6 / span 5;
		}
	}
	
}





