

body {
	display:grid;
	grid-template-columns: repeat( $grid-columns, 1fr );

	grid-gap: 1rem;

	grid-template-areas:
	". header header header header header header header header header header ."
	". content content content content content content content content content content ."
	". footer footer footer footer footer footer footer footer footer footer ."
}



.site-header,
.site-footer {

	display:grid;
	grid-gap: 1rem;

}





.site-header {

	display:grid;
	grid-template-columns: repeat( $grid-columns - 2, 1fr );

	grid-area: header;

	.site-branding {
		grid-column: 1 / span 10;
	}
	.main-navigation {
		grid-column: 1 / span 10;
	}

/*
	.site-branding,
	.main-navigation {
		grid-column: 1 / span ($grid-columns - 2);
	}

	*/
}

.site-content {

	grid-area: content;
	max-width: 100%; // otherwise it expands beyond it's grid area in FF.

	article {
		.entry-content {
			& > blockquote,
			& > code {
				overflow:scroll;
				max-width: 100%;
			}
		}
	}
	
	
	.site-main article {
		

		.entry-content {

			.fullwidth-embed {


				// Weird hack: WP outputs a <p> around the <script> tag for
				// Twitter oEmbeds. This makes it so it doesn't have any
				// effect on the page layout.
				position:relative;
				& > p {
					margin:0;
					position:absolute;
					bottom:0;
				}
			}

			


		}

	}
}

.site-footer {
	grid-area:footer;
}

@media (min-width: 60rem ) {

	body {
		grid-template-areas:
	". . header header header header header header header header . . "
	". . content content content content content content content content . . "
	". . footer footer footer footer footer footer footer footer . . "

	}



	.site-header {
		grid-template-columns: repeat( ($grid-columns - 4), 1fr );

		.site-branding {
			grid-column:1 / span 3;
		}


		.main-navigation {
			grid-column: 4 / span 4;
			justify-self:end;
		}
	}

	
	
	
}





