button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: getColor(affirm, 200);
	border-radius: 0.4vw;
	background: getColor(affirm, 800);
	color: rgba(0, 0, 0, .9);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: getColor(affirm);
	}

	&:active,
	&:focus {
		border-color: getColor(affirm, 600);
	}
}
