input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: getColor( neutral, 300 );
	border: 1px solid getColor( neutral, 200);
	border-radius: 0.4vw;
	padding: 3px;

	&:focus {
		color: getColor( neutral, 200 );
	}
}

select {
	border: 1px solid getColor( neutral );
}

textarea {
	width: 100%;
}
