
.fullwidth-embed,
.entry-content > blockquote,
.entry-summary > blockquote {
	background: getColor(accent);

	box-shadow: 2vw 1vh 2vh 0 getColor(neutral, 700);
	
	@supports (display:grid) {
		width: 100vw;
		margin-left: calc( ((100vw / 11) * 0.5 + 0.6vw ) * -1 );
	}


	padding: 1rem 0;
	margin-top:1rem;
	margin-bottom:1rem;

	color: #fff;

	.twitter-tweet,
	& > * {
		@extend %full-width-column;

		margin:0 auto;

		@supports (display:grid) {
			margin:0;
		}
	}

	a {
		color: #fff;
	}

	.twitter-tweet {

		font-size:1.18rem;
		
		font-style:italic;

		
	}

	

	
}



.entry-content > blockquote,
.entry-summary > blockquote {

	background-color: getColor(accent);

//	font-kerning: auto;
//	letter-spacing:0.01em;

	
	// Otherwise the beginning of the content is really far from the title.
	&:first-child {
		margin-top:0;
	}


	& > * {
		max-width: 60rem;
	}

	cite {
		font-size:1rem;

		margin-left:1em;

		&:before {
			content:"(";
		}

		&:after {
			content:")";
		}
	}

	& > pre {
		background:none;
		font-size:1rem;
		padding:0;
	}

	&.pullquote {
		font-size:1.45rem;
	}

}





@supports (display:grid) {
	@include large-handheld {

		.fullwidth-embed,
		.entry-content > blockquote,
		.entry-summary > blockquote {
			margin-left: calc( ((100vw / 12) + 0.1vw  ) * -1 );
		}
	}


	@include desktop {

		.fullwidth-embed,
		.entry-content > blockquote,
		.entry-summary > blockquote {
			margin-left: calc( ((100vw / 12) * 2  ) * -1 );
		}

		.entry-content,
		.entry-summary {
			twitterwidget,
			blockquote.twitter-tweet {
			//	justify-self: center;
			}
		}
	}

	@include widescreen {
		.fullwidth-embed,
		.entry-content > blockquote,
		.entry-summary > blockquote {
			margin-left: calc( ((100vw / 12) + 0.02vw  ) * -3 );

			& > * {
				grid-column: 4 / span 7;
			}

			.twitter-tweet {
				grid-column: 4 / span 6;
			}
		}
	}
}