p {
	margin: 0.5em 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: getColor(neutral, 800);
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin:0;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
	white-space: pre-wrap;
}


code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted getColor(accent);
	cursor: help;
}

mark, ins {
	background: getColor(neutral, 900);
	text-decoration: none;
}

big {
	font-size: 125%;
}


.site-info {
	font-size:$font__size-de-emphasized;
	color: getColor(primary, 600 );
}

.entry-content {
	@include font-size(1.2);


	& > p:first-of-type {
		&::first-line {
			font-weight:600;
		}

		&::first-letter {
			font-size:3em;
			float:left;
			line-height:1em;
			font-weight:500;
			initial-letter:2;
			-webkit-initial-letter:2;
			padding-right:0.1em;
		}
	}


}