h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight:600;
}


.site-branding {
	.site-title {
		font-size:2.18rem;
		@include font-size(2.18);
		margin:0;
		line-height:1em;
		font-weight:normal;


		a {
			text-decoration:none;
		}
	}
	
	.site-description {
		@include font-size(1.2);
	}
}

@include large-handheld {
	.site-branding .site-description {
		@include font-size(1.0);
	}
}
.entry-title {
	@include font-size(1.6);
	margin:0.67em 0;


	a {
		&:link:not(:active):not(:hover):not(:focus),
		&:visited:not(:active):not(:hover):not(:focus) {
			color: inherit;
		}
	}
}

.entry-content {
	h3 {
		font-size:1.18em;
	}
}

.page-header h1 {
	@include font-size(1.9);
	margin-bottom:0;
}

.single .entry-title {
	margin: 0.67em 0 0.67em 0;
}