h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight:600;
}


.site-branding {
	.site-title {
		font-size:2.18rem;
		margin:0;
		line-height:1em;
		font-weight:normal;

		a {
			text-decoration:none;
		}
	}
}

.entry-title {
	font-size:1.5rem;
	margin:0.67em 0;


	a {
		&:link:not(:active):not(:hover):not(:focus),
		&:visited:not(:active):not(:hover):not(:focus) {
			color: inherit;
		}
	}
}

.page-header h1 {
	font-size:1.9rem;
	margin-bottom:0;
}

.single .entry-title {
	margin: 0.67em 0 0.67em 0;
}