a {
	color: getColor(accent, 300 );
	text-decoration: underline getColor(accent, 600);
	

	&:visited {
		color: getColor(accent, 100);
	}
	&:hover,
	&:focus,
	&:active {
		color: getColor(accent, 900);
		background-color: getColor(accent);
		text-decoration-color: getColor(accent, 900);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
