.main-navigation {
	
	
	@extend %full-width-column;

	line-height:1em;
	
	ul {

		height:100%;
		display:flex;
		align-items: center;


		list-style: none;
		margin: 0;
		padding: 0;
// We're not planning on using sub-menus in the main nav, so we'll comment this
// out but save it in case it's needed later.
/*		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
*/
	}

	li {

		padding-right:3vw;
		
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		line-height: 1em;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

@include large-handheld {
	.main-navigation li {
		
		padding-right:1.5em;

		@supports( display:grid ) {
			padding-right:0;
			padding-left:3vw;
		}
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-links {
		font-size: $font__size-de-emphasized;
		a {
			color: $color__text-de-emphasized;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;

		a:before {
			content: "⇽ ";
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a:after {
			content:" ⇾";
		}
	}
}
