.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}


.published {
	&:before {
		
	}
}

.updated:not(.published) {
		
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.entry-footer {
	font-size: $font__size-de-emphasized;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-archives,
.error404 {
	ul {
		margin-left:0;
		padding-left:0;
		list-style-type:none;
		
	}
}
