.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}


.published {
	&:before {
		
	}
}

.updated:not(.published) {
		
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.entry-footer {
	font-size: $font__size-de-emphasized;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-archives,
.error404 {
	ul {
		margin-left:0;
		padding-left:0;
		list-style-type:none;
		
	}
}

.social-prompt {
	margin: 2em auto;
}

.follow-me {
//	text-align:center;
	vertical-align: middle;
	svg {
		vertical-align: middle;
		content:" ";
		width:1.5rem;
		height:1.5rem;
		margin-right:0.25em;
		
		display:inline-block;

		fill: getColor(neutral, 300);
		position:relative;
		top:-0.15rem;
	}
}

.seal {
	text-align:center;
	padding:3rem 0;
	svg {
		width:25%;
		fill:getColor(primary,800);
		stroke:getColor(primary, 300);
		filter: drop-shadow(2px 2px 2px adjust-color($color:getColor(accent, 300), $alpha:-0.8));	
	}


	@include large-handheld {
		svg {
			width:15%;
		}
	}

	@include desktop {
		padding-top:6rem;
		svg {
			width:10%;
		}
	}

	@include widescreen {
		
		svg {
			
			width:5%;
		}
	}
}
